* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

window#waybar {
    background-color: black;
    color: #ffffff;
}

#backlight {
    color: #2aa198;
}

#workspaces button {
    color: #268bd2;
    margin-right: 0px;
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bolder;
}

#workspaces button.focused,
#workspaces button.active {
    color: #000000;
    background-color: #ffffff;
}

#workspaces button.urgent {
    color: #ff8873;
}

#workspaces button.persistent {
    color: #a9ac88;
}

#pulseaudio {
    color: #a55377;
    padding-right: 20px;
}
#pulseaudio.muted {
    color: #fb958b;
}

#network {
    padding-right: 20px;
    color: #268bd2;
}

#network.disconnected {
    color: #fb958b;
}

#power-profiles-daemon {
    padding-right: 20px;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

#battery {
    padding-right: 20px;
    color: #8fbcbb;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: #91ffc3;
}

#battery.charging {
    color: #87bb82;
}

#battery.warning {
    color: #ecd3a0;
}

#backlight{
    padding-right: 20px;
}

#battery.critical:not(.charging) {
    color: #fb958b;
}

#clock {
    color: #ffffff;
}
